::ng-deep .mat-snack-bar-container {
    background-color: transparent;
    padding: 0px;
}

.danger-snack {
    display: flex;
    background-color: rgb(250, 174, 158);
    color: rgb(143, 51, 40);
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    border-radius: 4px;
}

.warning-snack {
    display: flex;
    background-color: rgb(250, 206, 157);
    color: rgb(146, 107, 38);
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    border-radius: 4px;
}

.success-snack {
    display: flex;
    background-color: rgb(211, 230, 208);
    color: rgb(81, 117, 53);
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    border-radius: 4px;
}